{% extends 'base_layout.html' %}

{% block content %}

<form class="create-my-task"  method="POST">
  {%csrf_token%}
  <p>
    <label>Title :</label>
    <input type="text" name="taskname">
  </p>
  <br>
  <p>
    <label>Description :</label>
  <p>
  <textarea name="description" rows="8" cols="80"></textarea>
  <br>
  <br>

    <p>
       <label>Status</label>
       <select id = "statusList" name="status">
         <option value = "Planned">Planned</option>
         <option value = "Inprogress">Inprogress</option>
         <option value = "Done">Done</option>
       </select>
    </p>

  <br>
<button type="submit">Add My Task</button>


</form>
<p>{{message}}</p>

{% endblock %}
