{% extends 'base_layout.html' %}

{% block content %}
{% if request.user.username == task.assignedBy %}

<form class="edit-team-task" action="/team/{{id}}/{{task.title}}/edit" method="GET">
  {% csrf_token %}
  <button type="submit">Edit Task</button>
</form>

<form class="add-members" action="/team/{{id}}/{{task.title}}/add" method="GET">
  {% csrf_token %}
  <button type="submit">Add Member</button>
</form>

<form class="delete-members" action="/team/{{id}}/{{task.title}}/delete" method="GET">
  {% csrf_token %}
  <button type="submit">Delete Member</button>
</form>

{% endif %}

<p>Title:      {{task.title}}</p>
<p>Description:{{task.description}}</p>
<p>Assigned By:{{task.assignedBy}}</p>
<p>Assigned To:{{task.assignee}}</p>



{%  endblock %}
