{% extends 'base_layout.html' %}

{% block content %}
{% if request.user.username == task.assignedBy %}

<form class="edit-team-task" action="/team/{{id}}/{{task.title}}/edit" method="GET">
  {% csrf_token %}
    <button type="submit">Edit Task</button>
</form>
<br>
<form class="modify-members" action="/team/{{id}}/{{task.title}}/modify" method="GET">
  {% csrf_token %}
    <button type="submit">Change Members</button>
</form>

{% endif %}

<p>Title:      {{task.title}}</p>
<p>Description:{{task.description}}</p>
<p>Assigned By:{{task.assignedBy}}</p>


<p>The task is assigned to :</p>
{%  for taskMember in taskMembers %}

{% if taskMember.assigned %}
<p>{{taskMember.assignee}}</p>
{% endif %}
{% endfor %}

{%  endblock %}
