{% extends 'base_layout.html' %}

{% block content %}


<form class="create-team-task" action="/team/{{id}}/create-task" method="GET">
  {% csrf_token %}
  <button type="submit">Create Task</button>
</form>
<br>
<br>
{% if request.user.username == ownerUserName %}
<form class="add-members" action="/team/{{id}}/" method="post">
  {%csrf_token%}
  <button type="submit">Add member </button>
  <input type="text" name="username">
</form>
{% endif %}
<p>{{message}}</p>
<div class="list-of-members">
  <p>Owner</p>
  <ul>
    <li>{{ownerUserName}}</li>
  </ul>
  {% if flag %}
  <p>List of other team members</p>
  <ul>
    {% for member in members %}
    <li>{{member.user.username}}</li>
    {% endfor %}
  </ul>
  {%endif%}
</div>

{% if flag1 %}
<div class="tasks-by-me">
  <p>List of tasks assigned by me</p>
  <ul>
    {% for taskByMe in tasksByMe %}
    <p> <a href="/team/{{id}}/{{taskByMe.title}}">{{taskByMe.title}}</a> </p>
    {% endfor %}
  </ul>
</div>
{% endif %}


{% if flag2 %}
<div class="tasks-for-me">
  <p>List of tasks assigned to me</p>
  <ul>
    {% for taskForMe in tasksForMe %}
    <p> <a href="/team/{{id}}/{{taskForMe.taskDetail.title}}">{{taskForMe.taskDetail.title}}</a> </p>
    <p>Assigned By : {{taskForMe.taskDetail.assignedBy}}</p>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if flag3 %}
<div class="other-tasks">
  <p>List of other tasks</p>
  <ul>
    {% for otherTask in otherTasks %}
    <p> <a href="/team/{{id}}/{{otherTask.title}}">{{otherTask.title}}</a> </p>
    <p>Assigned By : {{otherTask.assignedBy}}</p>
    {% endfor %}
  </ul>
</div>
{% endif %}


{%endblock%}
